<div class="flex flex-col gap-4 bg-yellow-500 bg-opacity-80 py-5 px-4 rounded-md text-center">
    <h2 class="flex-1 font-bold text-2xl lg:text-3xl"><%=card.title%></h2>
    <p class="flex-1 mt-2 text-lg"><%=card.description%></p>
    <div class="mt-6">
        <a class=" bg-white rounded-md px-6 py-3 h-auto mx-auto font-semibold" href="<%=card.btn_href%>"><%=card.btn_title%></a>
    </div>
</div>