<div class="bg-gray-950 text-white w-full">
    <div class="text-center p-5 space-y-4">
        <p class="author text-sm">Made by Balazs Hernadi</p>
        <p class="text-xs">&copy; 2024 FOR ANIMALS. All rights reserved</p>
        <ul class="flex flex-col lg:flex-row gap-6 text-sm justify-center items-center">
            <li><a href="/">Home</a></li>
            <li><a href="/adopt">Adopt</a></li>
            <li><a href="/rehome">Rehome</a></li>
            <li><a href="/donate">Donate</a></li>
        </ul>
        <div class="text-sm mt-6">
            <h3 class="font-medium">Contact Information</h3>
            <address>
                <p>Email: support@foranimals.com</p>
                <p>Phone: +447795515211</p>
                <p>Visit us at:</p>
                <p>Winchester, Hampshire</p>
                <p>United Kingdom</p>
            </address>
        </div>
    </div>
</div>
